



.editform{


  .inputedit{
    border-radius: 20px;
    background-color: #FFB5DA;
    padding: 5px;
  }

  .labeledit{
    padding: 0px 5px;
    margin: 5px;
    background-color: #E178C5;
    border-radius: 30px;
  }

  .editbutton{
    border-radius: 10px;
    background-color: #FF3EA5;
  }

}